<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idougong.jyj">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 外部存储的读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->


    <!-- if use ble indoor positioning -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- general permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 屏幕唤醒 -->
     
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <!-- 屏幕熄灭 -->
     
    <user-permission android:name="android.permission.DEVICE_POWER" />

    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <permission
        android:name="com.idougong.jyj.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.idougong.jyj.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />

    <!-- android Q 定位权限 -->
    <!--
<uses-permission android:name ="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    -->
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label,android:allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--${JYJ_CHANNEL_VALUE}-->
        <meta-data
            android:name="jyj_channel"
            android:value="jyjtest" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=101175977" />

        <activity
            android:name=".module.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.idougong.jyj" />
        <activity
            android:name=".module.ui.FlickerScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main"
                    android:scheme="jyj" />
            </intent-filter>
        </activity>

        <service
            android:name=".module.service.killSelfService"
            android:process=":restart" />

        <activity
            android:name=".module.demo1.Demo1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.demo2.Demo2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.demo3.Demo3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.demo4.Demo4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.demo5.Demo5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.account.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.account.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.account.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.HomeDetailedActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.idougong.jyj.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WX33EGV3qDYjGuI8AHZHPoZlGWfCMBah" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".module.ui.home.HomeVideoDetailedActivityctivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1108634816" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".module.ui.users.UserPaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.entertainment.OnlineSupermarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.entertainment.TableReservationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.entertainment.UserConfirmAnOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.chat.QuestionDetailesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.InformationConsultingActivity"
            android:screenOrientation="portrait" />

        <!-- push start -->
        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <service android:name=".module.push.MyNotificationService" />
        <service android:name=".module.push.UmengNotificationService" />

        <receiver android:name=".module.push.NotificationBroadcast" />

        <activity
            android:name=".module.push.HuaWeipushActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />
        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.umeng.soexample.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />

        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="com.idougong.jyj.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置 android:process 参数将 PushService 放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；App 不会被其他 App 拉起，但会拉起其他的 App。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.idougong.jyj" />
            </intent-filter>
        </service>

        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.idougong.jyj.DownloadProvider"
            android:exported="true" />

        <!-- Required SDK 核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.idougong.jyj" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.idougong.jyj" />
            </intent-filter>
        </activity>
        <!-- SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.idougong.jyj" />
            </intent-filter>
        </activity>

        <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".module.push.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".module.push.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.idougong.jyj" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 since 3.3.0 -->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="com.idougong.jyj" />
            </intent-filter>
        </activity>
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver
            android:name=".module.push.XgMessageReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.ui.chat.NativeWebDealWithActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.PromptUpgradeActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".module.ui.Main1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserOrderDetailedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name="com.ipsmap.homectrl.uploadlocation.impl.TraceServiceImpl" />

        <receiver
            android:name="com.ipsmap.homectrl.uploadlocation.WakeUpReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="com.daoyixun.uploadlocation.CANCEL_JOB_ALARM_SUB" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ipsmap.homectrl.uploadlocation.WakeUpReceiver$WakeUpAutoStartReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.ipsmap.homectrl.uploadlocation.AbsWorkService$WorkNotificationService" />
        <service
            android:name="com.ipsmap.homectrl.uploadlocation.JobSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":watch" />
        <service
            android:name="com.ipsmap.homectrl.uploadlocation.WatchDogService"
            android:process=":watch" />
        <service
            android:name="com.ipsmap.homectrl.uploadlocation.WatchDogService$WatchDogNotificationService"
            android:process=":watch" />

        <activity
            android:name=".module.ui.home.CreditsExchangeConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.ui.home.CreditsExchangeSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.CreditsExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.CreditsExchangeDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserPerfectInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.UserShoppingCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.UserShoppingCarConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.DeliveryAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserWalletRecordTheDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserWalletRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserWalletWithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.UserSearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.AlreadyBoughtGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserCustomerServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.DeliveryAddressInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.HomePanicBuyingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserMessageDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.users.UserInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ui.home.UserSignBoardActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>